absl-py==0.7.1
altgraph==0.17
amqp==2.3.2
anndata==0.6.5
anyjson==0.3.3
appdirs==1.4.3
argh==0.26.2
arrow==0.14.5
asn1crypto==1.0.1
astor==0.8.0
Authomatic==0.1.0.post1
avro==1.8.2
Babel==2.7.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.7.0.1
backports.weakref==1.0.post1
bcrypt==3.1.7
beautifulsoup4==4.6.0
billiard==3.5.0.4
bio==0.1.0
biopython==1.74
blinker==1.4
bsdiff4==1.1.5
CacheControl==0.11.7
ccsm==0.9.13.1
celery==4.2.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Cheetah==2.4.4
CherryPy==3.3.0
click==7.1.1
cloudpickle==1.2.1
CoffeeScript==2.0.3
colorama==0.3.7
compizconfig-python==0.9.13.1
configparser==3.8.1
contextlib2==0.5.5
crypto==1.4.1
cryptography==2.7
cssmin==0.2.0
cwltool==1.0.20180302231433
cycler==0.10.0
Cython==0.29.13
cyvcf2==0.11.5
decorator==4.4.1
dis3==0.1.3
distro==1.4.0
Django==1.5.12
django-annoying==0.8.4
django-appconf==1.0.1
django-js-reverse==0.5.0
django-tastypie-legacy==0.12.2.post2
dlib==19.20.0
dnspython==1.15.0
docopt==0.6.2
dotmap==1.3.8
dsdev-utils==1.0.4
ed25519==1.5
enum34==1.1.6
fitbit==0.3.1
Flask==1.1.1
Flask-Assets==2.0
Flask-Cache==0.13.1
Flask-Caching==1.8.0
Flask-Cake==0.3.1
Flask-Cors==3.0.8
Flask-DebugToolbar==0.10.1
Flask-HTTPAuth==3.2.3
Flask-JWT==0.3.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Markdown==0.3
Flask-Restless==0.17.0
Flask-Script==2.0.6
Flask-Split==0.4.0
Flask-SQLAlchemy==2.4.1
Flask-Testing==0.6.2
Flask-User==0.6.19
Flask-WTF==0.14.2
flower==1.0.0
foursquare==1!2019.2.16
funcsigs==1.0.2
future==0.17.1
futures==3.1.1
gast==0.2.2
grpcio==1.23.0
h5py==2.9.0
html5lib==0.999999999
httplib2==0.13.1
humanize==0.5.1
idna==2.8
ifcfg==0.21
importlib==1.0.3
importlib-metadata==0.19
ipaddr==2.2.0
ipaddress==1.0.23
ipython==5.8.0
ipython-genutils==0.2.0
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.1
jsbeautifier==1.6.2
Keras==2.1.6
Keras-Applications==1.0.8
keras-vggface==0.6
kiwisolver==1.1.0
kombu==4.2.1
leveldb==0.194
libsass==0.19.2
libvirt-python==4.0.0
lockfile==0.12.2
lxml==4.2.1
lz4==2.2.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==2.2.4
mimerender==0.6.0
mistune==0.8.3
mock==3.0.5
mongoengine==0.19.1
more-itertools==5.0.0
mysql-connector-python==2.1.6
MySQL-python==1.2.5
mysql-utilities==1.6.4
Naked==0.1.31
natsort==6.2.0
networkx==2.2
ngs==1.0
nose==1.3.7
numexpr==2.7.1
numpy==1.16.4
oauth2==1.9.0.post1
oauthlib==3.1.0
olefile==0.45.1
opencv-python==3.4.3.18
pandas==0.24.2
paramiko==2.0.0
passlib==1.7.1
pathlib==1.0.1
pathlib2==2.3.4
pathtools==0.1.2
pbkdf2==1.3
pbr==5.4.4
pdfkit==0.6.1
pdfminer==20140328
peewee==2.6.4
pexpect==4.2.1
pickleshare==0.7.5
Pillow==6.2.2
ply==3.4
Pmw==1.3.2
prompt-toolkit==1.0.16
protobuf==3.9.1
py-dateutil==2.2
pyasn1==0.4.2
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.8.2
pydot==1.4.1
PyExecJS==1.5.1
Pygments==2.4.2
pygobject==3.26.1
PyInstaller==3.6
pyjade==4.0.0
PyJWT==1.4.2
pymol==1.8.4.0
pymongo==3.9.0
pynnotator==1.9.4
pyodbc==4.0.17
PyOpenGL==3.1.0
pyparsing==2.2.0
pysam==0.15.3
pyScss==1.3.5
pyserial==3.4
PySocks==1.7.1
pysolr==3.8.1
pysqlite==2.7.0
pystache==0.5.4
python-dateutil==2.5.0
python-gflags==3.1.2
python-Levenshtein==0.12.0
python-magic==0.4.15
python-mimeparse==1.6.0
pythonaes==1.0
pytz==2019.3
pyudev==0.21.0
PyUpdater==3.1.1
pyusb==1.0.2
PyVCF==0.6.8
PyWavelets==1.0.3
PyYAML==5.1.2
pyzmq==16.0.2
rauth==0.7.3
raven==6.10.0
rdflib==4.2.1
rdflib-jsonld==0.4.0
redis==3.3.8
reportlab==3.5.42
requests==2.11.1
requests-oauthlib==1.2.0
rsa==3.4.2
ruamel.yaml==0.15.34
scandir==1.10.0
schema-salad==2.6.20171201034858
scikit-image==0.14.3
scipy==1.2.2
scour==0.36
shellescape==3.4.1
simplegeneric==0.8.1
simplejson==3.16.0
singledispatch==3.4.0.3
six==1.10.0
slimish-jinja==1.1.2
slimit==0.8.1
South==1.0.2
SPARQLWrapper==1.7.6
SQLAlchemy==1.3.15
static==1.1.1
stevedore==1.32.0
subprocess32==3.5.4
sunburnt==0.6
tables==3.5.2
tail==0.1.12
tensorboard==1.10.0
tensorboardX==2.0
tensorflow-gpu==1.10.0
termcolor==1.1.0
torch==1.1.0
tornado==4.5.3
tqdm==4.35.0
traitlets==4.3.2
tweepy==3.8.0
typing==3.6.2
unity-lens-photos==1.0
urllib3==1.25.3
vine==1.3.0
watchdog==0.9.0
wcwidth==0.1.7
webassets==2.0
webencodings==0.5
Werkzeug==1.0.0
WTForms==2.2.1
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlrd==1.2.0
youtube-dl==2020.9.20
yuicompressor==2.4.8
zipp==0.6.0
